<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simu broadcast dispatch</title>
	<script src="../lib/js/vue-1.0.js"></script>
</head>
<body>
	<div id="app">
		<!-- <add-todo-hub></add-todo-hub> -->
		<input type="text" v-model="newTodo" @keyup.enter="addTodo" />
		<h3>Todo List 1</h3>
		<todo-list></todo-list>
		<h3>Todo List 2</h3>
		<todo-list></todo-list>
	</div>
	<script>
		/* child todoList */
		var todoList = Vue.extend({
			template: `
				<ul>
					<li v-for="todo in todos">
						<span>{{todo.text}}</span>
						<button @click="removeTodo($index)">X</button>
					</li>
				</ul>
			`,
			data: function () {
				return {
					todos: [{
						text: 'Add some todos'
					}]
				}
			},
			methods: {
				removeTodo: function ($index) {
					this.todos.splice($index, 1)
				}
			},
			events: {
				'add-todo': function (newTodo) {
					this.todos.push({text: newTodo})
				}
			}
		})
		/* Main parent hub*/
		var vm = new Vue({
			el: '#app',
			data: function () {
				return {
					newTodo: ''
				}
			},
			components: {
				addTodoHub: addTodoHub,
				todoList: todoList
			},
			methods: {
				addTodo: function () {
					if (this.newTodo) {
						this.$broadcast('add-todo', this.newTodo)
					} 
					this.newTodo = ''
				}
			}
		})
	</script>
</body>
</html>