<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simul Broadcast Dispatch 2.0</title>
	<script  src="../lib/js/vue-2.0.js"></script>
	<style>
		.todo-component	{
			background: cornsilk;
			border: solid 1px crimson;
			margin: 20px auto;
		}
	</style>
</head>
<body>
	<h2>Simul dispatch and broadcast with Vue eventHub</h2>
	<p>
		用 Vue 全局 event 事件并不能完全实现 dispatch 和 broadcast 功能。
		因为当组件有多个实例时，通信其实是对所有实例通信的。而不是真正的父子关系通信。	
	</p>
	<div id="app">
		<todo-component></todo-component>
		<todo-component></todo-component>
	</div>
	<script>
		var eventHub = new Vue()
		var todoList = Vue.extend({
			data: function () {
				return {
					todos: [{
						text: 'Add some todos'
					}]
				}
			},
			template: `
				<ul>
					<ul v-for="(todo, $index) in todos">
						<span>{{todo.text}}</span>
						<button @click="removeTodo($index)">&times;</button>
						<button @click="moveToCommon($index)">Move to Common</button>
					</ul>
				</ul>
			`,
			methods: {
				removeTodo: function ($index) {
					this.todos.splice($index, 1)
				},
				addTodo: function (newTodo) {
					this.todos.push({text: newTodo})
				},
				/**
				 * dispatch msg to parent
				 */
				moveToCommon: function ($index) {
					eventHub.$emit('move-to-common', this.todos[$index])
				}
			},
			created: function () {
				eventHub.$on('add-todo', this.addTodo)
			}
		})
		var todoComponent = Vue.extend({
			template: `
				<div class="todo-component">
					<label>Add New Todo<input type="text" v-model="newTodo" @keyup.enter="addNewTodo"></label>
					<h3>Todo List 1</h3>
					<todo-list></todo-list>
					<h3>Todo List 2</h3>
					<todo-list></todo-list>
				</div>
			`,
			components: {
				todoList: todoList
			},
			data: function () {
				return {
					newTodo: ''
				}
			},
			methods: {
				/**
				 * broadcast to childs
				 */
				addNewTodo: function () {
					if (this.newTodo) {
						eventHub.$emit('add-todo', this.newTodo)
					}
					this.newTodo = ''
				},
				moveToCommon: function (todo) {
					this.newTodo = todo.text
				}
			},
			created: function () {
				eventHub.$on('move-to-common', this.moveToCommon)
			}
		})
		/**
		 * 用 Vue 全局 event 事件并不能完全实现 dispatch 和 broadcast 功能。
		 * 因为当组件有多个实例时，通信其实是对所有实例通信的。而不是真正的父子关系通信。
		 */
		var vm = new Vue({
			el: '#app',
			components: {
				todoComponent
			}
		})
	</script>
</body>
</html>