<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Render Function</title>
	<script  src="../lib/js/vue-2.0.js"></script>
</head>
<body>
	<h1>Programmatically Javascript</h1>
	<h2>Render 1</h2>
	<p>
		有时候，我们确实需要用 JS 来创建 HTML 标签及内容。这时可以用 Vue 提供的 render 函数来实现。
	</p>
	<div id="app">
		<h3>Typical Implemention</h3>
		<anchor-heading :level="l1">Test Anchor Heading 1</anchor-heading>
		<anchor-heading :level="l5">Test Anchor Heading 5</anchor-heading>
		<h3>Render Function Implemention</h3>
		<render-anchor-heading :level="l1">Test Render Function 1</render-anchor-heading>
		<render-anchor-heading :level="l3">Test Render Function 3</render-anchor-heading>
	</div>
	<!-- Typical Implemention template -->
	<!-- 可以看出对于这种重复性的组件 template， 确实有点繁琐。 -->
	<div id="anchor-heading">
		<div>
			<div v-if="level === 1">
				<h1><slot></slot></h1>
			</div>
			<div v-if="level === 2">
				<h2><slot></slot></h2>
			</div>
			<div v-if="level === 3">
				<h3><slot></slot></h3>
			</div>
			<div v-if="level === 4">
				<h4><slot></slot></h4>
			</div>
			<div v-if="level === 5">
				<h5><slot></slot></h5>
			</div>
			<div v-if="level === 6">
				<h6><slot></slot></h6>
			</div>
			<div v-if="level === 7">
				<h7><slot></slot></h7>
			</div>
		</div>
	</div>	
	</div>
	<script>
		/**
		 * 冗长的实现方式
		 */
		var anchorHeading = Vue.extend({
			template: document.getElementById('anchor-heading'),
			props: {
				level: {
					type: Number,
					default: 1
				}
			}
		})
		/**
		 * Render function implemention
		 */
		var renderAnchorHeading = Vue.extend({
			render: function (createElement) {
				return createElement(
					'h' + this.level, 		// html tag
					this.$slots.default 	// 子组件中的阵列。
				)
			},
			props: {
				level: {
					type: Number,
					default: 1
				}
			}
		})

		var vm = new Vue({
			el: '#app',
			components: {
				anchorHeading: anchorHeading,
				renderAnchorHeading: renderAnchorHeading
			},
			data: function () {
				return {
					l1: 1,
					l2: 2,
					l3: 3,
					l4: 4,
					l5: 5,
					l6: 6,
					l7: 7
				}
			}
		})
	</script>
</body>
</html>